In [1]:
import numpy as np
import pandas as pd
from zhan_roles import Company, SearchWebsite, updateQ

In [2]:
data = pd.read_csv("clean.csv")

In [3]:
data.head()

,impression_id,click,currently_insured,number_of_vehicles,number_of_drivers,rank,policies sold,married
0,1,1,0,1,1,1,1,1
1,2,0,0,2,1,4,0,1
2,3,0,0,1,1,2,0,0
3,4,0,1,2,1,5,0,1
4,5,0,1,2,2,4,0,0

In [5]:
pd.DataFrame({'click':[], 'currently_insured':[], 'number_of_vehicles':[],
       'number_of_drivers':[], 'rank':[], 'policies sold':[], 'married':[]})

Empty DataFrame
Columns: [click, currently_insured, number_of_vehicles, number_of_drivers, rank, policies sold, married]
Index: []

In [3]:
### Initialize objects

for name in ['married', 'number_of_vehicles', 'number_of_drivers', 'currently_insured']:
    print(data[name].value_counts())

sw = SearchWebsite(updateQ, 10000, p_vehicle=0.6083, p_driver=0.4169, p_insured=0.4992, p_marital=0.7627)

1    7627
0    2373
Name: married, dtype: int64
2    6083
1    3917
Name: number_of_vehicles, dtype: int64
1    5831
2    4169
Name: number_of_drivers, dtype: int64
0    5008
1    4992
Name: currently_insured, dtype: int64

In [4]:
for e in range(100):
    sw.train()
    if e % 10 == 9:
        print('epoch: {}'.format(e))

epoch: 9
epoch: 19
epoch: 29
epoch: 39
epoch: 49
epoch: 59
epoch: 69
epoch: 79
epoch: 89
epoch: 99

In [5]:
for j in range(16):
    print([sw.companies[i].getPrice(j) for i in range(5)])

[20, 13, 18, 19, 13]
[20, 15, 16, 16, 20]
[20, 19, 18, 5, 19]
[15, 17, 17, 20, 17]
[18, 19, 17, 15, 15]
[16, 19, 10, 20, 17]
[13, 19, 18, 19, 18]
[20, 16, 20, 20, 15]
[16, 16, 14, 20, 19]
[12, 19, 18, 15, 18]
[16, 20, 20, 20, 19]
[18, 20, 18, 20, 20]
[17, 15, 15, 14, 20]
[19, 14, 18, 20, 16]
[17, 17, 16, 15, 19]
[7, 19, 20, 18, 20]

In [6]:
sw.test()

In [7]:
for i in range(5):
    sw.companies[i].test=True

sw.reset()
    
for e in range(100):
    for _ in range(100):
        sw.auction()
    if e % 10 == 9:
        print(e)
    sw.reset()

9
19
29
39
49
59
69
79
89
99

In [8]:
for i in range(5):
    print(sw.companies[i].num_total_sold)

227
120
113
54
20

In [9]:
df1 = pd.DataFrame(sw.companies[1].record)

In [10]:
df1[df1['policies sold'] == 1]

,click,currently_insured,number_of_vehicles,number_of_drivers,rank,policies sold,married
232,1,0,0,1,1,1,1
336,1,0,1,1,1,1,1
459,1,1,0,1,3,1,1
612,1,1,0,0,1,1,1
613,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...
9496,1,0,0,1,3,1,0
9725,1,1,0,0,2,1,1
9939,1,0,0,1,4,1,0
9993,1,1,1,1,2,1,0
9997,1,0,0,0,0,1,1

In [11]:
for name in ['married', 'number_of_vehicles', 'number_of_drivers', 'currently_insured']:
    print(df1[name].value_counts())

1    7650
0    2361
Name: married, dtype: int64
1    6097
0    3914
Name: number_of_vehicles, dtype: int64
0    5901
1    4110
Name: number_of_drivers, dtype: int64
1    5019
0    4992
Name: currently_insured, dtype: int64

In [16]:
np.random.binomial(1, 0.9)

1

In [12]:
df1

,click,currently_insured,number_of_vehicles,number_of_drivers,rank,policies sold,married
0,0,1,1,0,1,0,1
1,0,1,0,0,3,0,1
2,0,1,1,0,0,0,1
3,0,0,1,0,0,0,1
4,1,0,0,1,1,0,1
...,...,...,...,...,...,...,...
10006,0,1,1,0,4,0,1
10007,0,1,1,1,1,0,1
10008,0,1,1,0,1,0,0
10009,0,0,0,1,4,0,1
10010,0,1,1,1,3,0,0

In [37]:
print(data1.groupby('rank').mean()[['click', 'policies sold']])

         click  policies sold
rank
1     0.636364       0.363636
2     0.250000       0.250000
3     0.000000       0.000000
4     0.071429       0.071429

In [14]:
buy_prod = []
for i in range(16):
    temp = [0] * 5
    datai = data[data.id == i]
    datai1 = datai[datai['policies sold'] == 1]
    total = len(datai)
    dd = datai1['rank'].value_counts().to_dict()
    for j in range(1, 6):
        if j in dd:
            temp[j-1] = dd[j] / total
        else:
            temp[j-1] = 0
    print(temp)
    print(sum(temp))
    print()
    buy_prod.append(temp)

[0.05128205128205128, 0.05128205128205128, 0, 0, 0]
0.10256410256410256

[0.10256410256410256, 0.05128205128205128, 0, 0.02564102564102564, 0]
0.1794871794871795

[0.06032171581769437, 0.030831099195710455, 0.020107238605898123, 0.006702412868632708, 0]
0.11796246648793567

[0.04632152588555858, 0.01226158038147139, 0.02316076294277929, 0.005449591280653951, 0]
0.08719346049046321

[0.1335676625659051, 0.033391915641476276, 0.01757469244288225, 0, 0]
0.18453427065026365

[0.027257240204429302, 0.015332197614991482, 0.008517887563884156, 0.0017035775127768314, 0]
0.05281090289608177

[0.11494252873563218, 0.019704433497536946, 0.003284072249589491, 0, 0]
0.13793103448275862

[0.021885521885521887, 0.010101010101010102, 0.015151515151515152, 0.0016835016835016834, 0]
0.04882154882154882

[0, 0, 0.009009009009009009, 0.009009009009009009, 0]
0.018018018018018018

[0, 0, 0.021505376344086023, 0, 0]
0.021505376344086023

[0, 0, 0.014903129657228018, 0.003974167908594138, 0.006458022851465474]
0.02533532041728763

[0, 0, 0.00632295719844358, 0.0048638132295719845, 0.004377431906614786]
0.01556420233463035

[0, 0.014462809917355372, 0.012396694214876033, 0.004132231404958678, 0.002066115702479339]
0.03305785123966942

[0, 0.0066518847006651885, 0.008869179600886918, 0.004434589800443459, 0]
0.019955654101995568

[0, 0.016018306636155607, 0.011441647597254004, 0, 0]
0.027459954233409613

[0, 0.0045662100456621, 0.0091324200913242, 0.0045662100456621, 0.00228310502283105]
0.02054794520547945

In [15]:
for i in range(16):
    temp = [1-sum(buy_prod[i])] + buy_prod[i]
    buy_prod[i] = temp

In [46]:
temp = data[data['policies sold'] == 1]

In [47]:
temp = temp['rank'].value_counts()

In [53]:
temp.to_dict()

{1: 260, 3: 123, 2: 101, 4: 37, 5: 24}

In [16]:
b =buy_prod.copy()

In [18]:
print(b)

[[0.8974358974358975, 0.05128205128205128, 0.05128205128205128, 0, 0, 0], [0.8205128205128205, 0.10256410256410256, 0.05128205128205128, 0, 0.02564102564102564, 0], [0.8820375335120644, 0.06032171581769437, 0.030831099195710455, 0.020107238605898123, 0.006702412868632708, 0], [0.9128065395095368, 0.04632152588555858, 0.01226158038147139, 0.02316076294277929, 0.005449591280653951, 0], [0.8154657293497364, 0.1335676625659051, 0.033391915641476276, 0.01757469244288225, 0, 0], [0.9471890971039182, 0.027257240204429302, 0.015332197614991482, 0.008517887563884156, 0.0017035775127768314, 0], [0.8620689655172413, 0.11494252873563218, 0.019704433497536946, 0.003284072249589491, 0, 0], [0.9511784511784511, 0.021885521885521887, 0.010101010101010102, 0.015151515151515152, 0.0016835016835016834, 0], [0.9819819819819819, 0, 0, 0.009009009009009009, 0.009009009009009009, 0], [0.978494623655914, 0, 0, 0.021505376344086023, 0, 0], [0.9746646795827124, 0, 0, 0.014903129657228018, 0.003974167908594138, 0.006458022851465474], [0.9844357976653697, 0, 0, 0.00632295719844358, 0.0048638132295719845, 0.004377431906614786], [0.9669421487603306, 0, 0.014462809917355372, 0.012396694214876033, 0.004132231404958678, 0.002066115702479339], [0.9800443458980044, 0, 0.0066518847006651885, 0.008869179600886918, 0.004434589800443459, 0], [0.9725400457665904, 0, 0.016018306636155607, 0.011441647597254004, 0, 0], [0.9794520547945206, 0, 0.0045662100456621, 0.0091324200913242, 0.0045662100456621, 0.00228310502283105]]

In [9]:
data['id'] = 8* (data.number_of_vehicles - 1) + 4 * (data.number_of_drivers - 1) + 2 * data.married + data.currently_insured

In [10]:
data.head()

,impression_id,click,currently_insured,number_of_vehicles,number_of_drivers,rank,policies sold,married,id
0,1,1,0,1,1,1,1,1,2
1,2,0,0,2,1,4,0,1,10
2,3,0,0,1,1,2,0,0,0
3,4,0,1,2,1,5,0,1,11
4,5,0,1,2,2,4,0,0,13